body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.contenitore {
    width: 400px;
    margin: auto;
    margin-top: -625px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;

}

h2 {
    font-size: 15px;
    font-style: italic;
}

button {
    border-radius: 5px;
}

input {
    border-radius: 10px;
    height: 25px;
    margin-bottom: 10px;
    text-align: center;
}

#list-item-input {
    width: 300px;
}

.list-item {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.list-item:hover {
    cursor: pointer;
}

.list-item.selected {
    background-color: whitesmoke;
    box-shadow: 0 12px 24px -8px rgb(0 0 0 / 20%);
    border-color: black;
    transform: scale(1.2);

}